body {
  font-family: 'Forum', cursive;
}
.profile-header {
  background-color: #151c40;
  color: white;
  padding: 20px;
  border-radius: 8px;
}
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #F5C446;
}

.dropdown-toggle {
  background-color: #151c40;
}